#profile-tabs .container-d {
  padding: 15px;
}
#profile-tabs .inner-tabs {
  padding: 0 45px;
  line-height: 4;
  bottom: 16px;
  position: relative;
}
.profile-main-btn {
    color: #686565;
    font-weight: 500;
    font-size: 21px;
}
.profile-main-btn:hover {
    color: #686565;
}
.profile-btn {
  color: #212121 !important;
  font-weight: 400 !important;
  background: none !important;
  font-size: 15px !important;
  border: 1px solid transparent !important;
  padding: 0 !important;
  margin: inherit;
  width: max-content;
  line-height: revert-layer;
  margin: -16px 0;
  top: 17px;
  position: relative;
}
.profile-btn:hover {
  color: #ce0b0b !important;
  font-weight: 500 !important;
}
.profile-btn:focus {
  color: #ce0b0b !important;
  outline: none;
  font-weight: 500 !important;
}
.nav-pills .active {
  color: #ce0b0b !important;
  outline: none;
  font-weight: 500 !important;
}
.profile-icon {
  width: 20px;
  margin-right: 22px;
}
.profile-icons {
  width: 20px;
  margin-right: 15px;
}
.accordion .card {
  border: none !important;
}
.accordion:before {
    content: '';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
#right-side h5 {
  font-weight: 500;
}
label {
  line-height: 40px;
  position: absolute;
  right: 30px;
  top: 5px;
  bottom: 0;
  -moz-transition: 0.3s right ease;
  -ms-transition: 0.3s right ease;
  -o-transition: 0.3s right ease;
  -webkit-transition: 0.3s right ease;
  transition: 0.3s right ease;
  z-index: 0
}
input {
  color: transparent;
  font-size: 12px;
  height: 35px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 0 !important;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #e0e0e0;
  height: 100%;
  padding: 10px;
  width: 100%;
  position: relative;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .06);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .06);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .06);
  z-index: 2;
}
input[type="text"] {
  color: #454747cc;
}
/* Placeholder */

input[type="text"]:-moz-placeholder {
  color: #a0a3a5;
}
input[type="text"]:-ms-input-placeholder {
  color: #a0a3a5;
}
input[type="text"]::-webkit-input-placeholder {
  color: #a0a3a5;
}
/* Label */

input[type="text"] + label {
  color: rgb(47, 130, 194);
}
input:focus + label {
  right: 30px;
  top: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgba(255, 255, 255, .8);
}

input[type="radio"] {
  position: relative;
  right: 0;
  margin-left: 0;
  margin-right: 100px;
}
#form-tabs {
  padding: 5px;
}
#right-side span {
  font-size: 16px;
  font-weight: 500;
  color: #7b7878;
  top: 2px;
  position: relative;
  left: -85px;
}
#right-side p {
  font-weight: 500;
}
#right-side .flexing {
  display: inline-flex;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fafafa !important;
    opacity: 1;
}
#profile-info {
  padding: 20px;
}
.form-group {
  margin-bottom: 1.5rem !important;
}
#top-field {
  margin-top: 1.5rem;
}
.same {
  display: flex;
}
.btn-edit-me {
  border: none;
  color: #2874f0;
  font-weight: 500;
  position: relative;
  bottom: 3px;
  text-decoration: underline;
}
.btn-style-secondary {
  float: right !important;
}
#faqs p {
  color: #636060;
  font-size: 13px;
}
#faqs .deactivate {
  left: 0;
  position: relative;
  color: #2874f0;
  font-size: 16px;
  font-weight: 600;
}
#faqs .delete {
  color: #d23276;
  left: 0;
  position: relative;
  font-size: 16px;
  font-weight: 600;
}
#right-side .image {
  width: 100%;
}
#right-side .image-section {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.for-image {
  padding-bottom: 15%;
}
form.is-readonly .btn-save {
  display: none;
}
form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
  cursor: text;
  background-color: #fff;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
}
form.is-editing .btn-edit {
  display: none;
}
.logout-tab {
  display: flex;
}
.logout-tab img {
  width: 8%;
  position: relative;
  margin-right: 15px;
}